{% extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}
    {% if user.is_anonymous == False %}
    <h1 class="text-center my-3">Welcome {{user.first_name}} {{user.last_name}} </h1>
    <div class="container">
        <div class="row">
            <h3 class="text-center mb-3">My tasks</h3>
            <ul class="list-group col-lg-2 offset-lg-5 text-center">
            {% for todoitem in todoitem_list %}
                <li class="list-group-item">
                    <a href="{% url 'todolist:viewtodoitem' todoitem.id %}"
                     class="text-decoration-none">{{todoitem.task_name}}</a>
                </li>
            {% endfor %}
            </ul>
            <h3 class="text-center mb-3">My events</h3>
            <ul class="list-group col-lg-2 offset-lg-5 text-center">
                {% for event in event_list %}
                    <li class="list-group-item">
                        <a href="{% url 'todolist:viewevent' event.id %}"
                         class="text-decoration-none">{{event.event_name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% elif user.is_anonymous == True %}
        <h1 class="text-center my-3">You are not authorized to access this page.</h1>
        <p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
       

    {%else%}
        <p>No tasks have been created</p>
    {%endif%}
{%endblock%}