{% extends 'base.html'%}

{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Register</h1>
            <!-- {% if error == True %}
                <p class="text-danger">Passwords do not match. </p>
            {% endif %} -->
            <form action="{% url 'todolist:register' %}" method="post">
                {% csrf_token %}
                {% for field in form %}

                {% endfor %}
                        <div class="mb-3">
                                <label for="username">Username: </label>
                                <!-- <input class="form-control" id="username" type="text" name="username" value="{{username}}" maxlength="20" required> -->
                                {{form.username}}
                        </div>
                        <div class="mb-3">
                                <label for="username">First Name: </label>
                                <!-- <input class="form-control" id="first_name" type="text" name="first_name" value="{{first_name}}" maxlength="20" required> -->
                                {{form.first_name}}
                        </div>
                        <div class="mb-3">
                                <label for="username">Last Name: </label>
                                <!-- <input class="form-control" id="last_name" type="text" name="last_name" value="{{last_name}}" maxlength="20" required> -->
                                {{form.last_name}}
                        </div>
                        <div class="mb-3">
                                <label for="username">Email: </label>
                                <!-- <input class="form-control" id="email" type="text" name="email" value="{{email}}" maxlength="20" required> -->
                                {{form.email}}
                        </div>

                        <div class="mb-3">
                                <label for="password">Password: </label>
                                <!-- <input class="form-control" id="password1" type="password" name="password1" maxlength="20" required> -->
                                {{form.password1}}
                        </div>
                        <div class="mb-3">
                                <label for="password">Confirm Password: </label>
                                <!-- <input class="form-control" id="password2" type="password" name="password2"  maxlength="20" required> -->
                                {{form.password2}}
                        </div>
           
                        

                        <div class="text-center">
                        <input class="btn btn-success" type="submit" value="Register">
                        </div>

            </form>
        </div>

    </div>
</div>
{% endblock%}


<!-- {% if is_user_registered == True %}
        <h1>Duplicate User Found!</h1>
        <p>A duplicate user has been found, user creation unsuccesful</p>
{% else %}
        <h1>User Successfully Created</h1>
        <p>The account for {{first_name}} {{last_name}} has been Successfully created</p>
{% endif %}
 -->
