{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h2 class="text-center my-3">Edit Profile</h2>
                <form action="{% url 'todolist:update_profile' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username">First Name: </label>
                        <!-- <input class="form-control" id="first_name" type="text" name="first_name" value="{{first_name}}" maxlength="20" required> -->
                        {{ form.first_name }}
                    </div>
                    <div class="mb-3">
                        <label for="username">Last Name: </label>
                        <!-- <input class="form-control" id="first_name" type="text" name="first_name" value="{{first_name}}" maxlength="20" required> -->
                        {{ form.last_name }}
                    </div>
                    <div class="mb-3">
                        <label for="username">Password: </label>
                        <!-- <input class="form-control" id="first_name" type="text" name="first_name" value="{{first_name}}" maxlength="20" required> -->
                        {{ form.password}}
                    </div>
                    <button  class="btn btn-success"  type="submit">Save Changes</button>
                </form>
            </div>
        </div>      
    </div> 
{% endblock %}